{% load staticfiles %}

<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="ko">
	<head>
		<title>Player</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Cache-Control" content="no-cache">
        <link href='{% static "css/nprogress.css" %}' rel='stylesheet' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href='{% static "css/skel.css" %}' />
		<link rel="stylesheet" href='{% static "css/style.css" %}'/>
		<link rel="stylesheet" href='{% static "css/style-xlarge.css" %}' />
        <link href="https://vjs.zencdn.net/7.5.4/video-js.css" rel="stylesheet">
		<!--[if lte IE 8]><script src='{% static "js/html5shiv.js" %}'></script><![endif]-->
		<script src='{% static "js/jquery.min.js" %}'></script>
		<script src='{% static "js/skel.min.js" %}'></script>
		<script src='{% static "js/skel-layers.min.js" %}'></script>
		<script src='{% static "js/init.js" %}'></script>
        <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src='{% static "js/nprogress.js" %}'></script>
        <script>if(location.hostname.match(/ricostacruz\.com$/)){var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-20473929-1"]),_gaq.push(["_trackPageview"]),function(){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)}()}</script>
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="/">수화 IN Player</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="player.html">Player</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="team.html">Team</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2>Player</h2>
                    {% if videofile == '' %}
					<p class="">동영상을 업로드해주세요.</p>
                    {% endif %}
				</header>
				<div class="container">
					<section id="player">
					  <div class="container">
                        {% if videofile == '' %}
                        <hr class="major" />
						<div class="row">
						  <form method="post" enctype="multipart/form-data" class="form-inline">
                            <div class="form-group">
                              {% csrf_token %}
                              {{ form.as_p }}
                            </div>
							<button class="button big special text-center play upload btn btn-primary" id='b-inc' type="submit" value="Upload">Upload</button>
						  </form>
						  <!--<form method="post">-->
							  <!--{% csrf_token %}-->
							<!--<input type="url" name="urlfield">-->
							<!--<button class="upload" type="submit" value="Upload">Upload</button>-->
						  <!--</form>-->
						</div>
						  <br><br>
                        {% else %}
                          <div id="videoal">
                            <div class="video_zone">
                              <video id="video" class="video-js vjs-default-skin" controls autobuffer muted preload='auto' data-setup='{}' poster='{% static "img/logo.png" %}'>
                                <source src="{{MEDIA_URL}}{{videofile}}" type="video/mp4">
                                <!--<source src="{{MEDIA_URL}}{{videofile}}" type="video/webm">-->
                                <!--<source src="{{MEDIA_URL}}{{videofile}}" type="video/ogg">-->
                                <track label="Korean" kind="subtitles" srclang="ko" src="{{MEDIA_URL}}{{webSubtitle}}" default>
                              </video>
                            </div>
						  <div class="video_zone">
							<video id="signLanguageVideo" class="video-js vjs-default-skin" autobuffer muted preload='auto' data-setup='{}'>
							  <source src="{{MEDIA_URL}}exuvLtKC.mp4" type="video/mp4">
							</video>
						  </div>
						</div>
                        {% endif %}
						  <br><br>
					  </div>
					</section>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; 전지적 수화 시점. All rights reserved.</li>
					</ul>
				</div>
			</footer>
        <script>
          setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);

          $("#b-0").click(function() { NProgress.start(); });
          $("#b-40").click(function() { NProgress.set(0.4); });
          $("#b-inc").click(function() { NProgress.inc(); });
          $("#b-100").click(function() { NProgress.done(); });
        </script>

        <script>var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
	    <script>
          $(document).ready(function(){ var fileTarget = $('.filebox .upload-hidden'); fileTarget.on('change', function(){ // 값이 변경되면 if(window.FileReader){ // modern browser var filename = $(this)[0].files[0].name; } else { // old IE var filename = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출 } // 추출한 파일명 삽입 $(this).siblings('.upload-name').val(filename); }); });
        </script>
    </body>
</html>