{% load staticfiles %}

<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="ko">
	<head>
		<title>Player</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="Cache-Control" content="no-cache">
    	<meta http-equiv="Pragma" content="no-cache">
    	<meta http-equiv="Cache-Control" content="no-cache">
		<link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
		<link href='{% static "vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet" type="text/css">
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		<link rel="stylesheet" href='{% static "css/skel.css" %}' />
		<link rel="stylesheet" href='{% static "css/agency.min.css" %}'>
		<link rel="stylesheet" href='{% static "css/style.css" %}'/>
		<link rel="stylesheet" href='{% static "css/style-xlarge.css" %}' />
		<!--[if lte IE 8]><script src='{% static "js/html5shiv.js" %}'></script><![endif]-->
		<script src='{% static "js/jquery.min.js" %}'></script>
		<script src='{% static "js/skel.min.js" %}'></script>
		<script src='{% static "js/skel-layers.min.js" %}'></script>
		<script src='{% static "js/init.js" %}'></script>
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="/"><img src='{% static "img/logo.PNG" %}' width="35%"></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="player.html">Player</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="team.html">Team</a></li>
					</ul>
				</nav>
			</header>

		<!--Team-->
		<section id="team">
		  <div class="container">
			<div class="row">
			  <div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">전지적 수화 시점</h2>
				<h3 class="section-subheading text-muted">Kookmin Univ. Software. Capstone 7</h3>
			  </div>
			</div>
			<div class="row">
			  <div class="col-sm-4">
				<div class="team-member">
				  <img class="mx-auto rounded-circle" src='{% static "img/team/jieun.png" %}' alt="">
				  <h4>윤지은</h4>
				  <p class="text-muted">조장</p>
				  <ul class="list-inline social-buttons">
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-twitter"></i>
					  </a>
					</li>
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-facebook-f"></i>
					  </a>
					</li>
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-linkedin-in"></i>
					  </a>
					</li>
				  </ul>
				</div>
			  </div>
			  <div class="col-sm-4">
				<div class="team-member">
				  <img class="mx-auto rounded-circle" src='{% static "img/team/jinyeong.jpg" %}' alt="">
				  <h4>배진영</h4>
				  <p class="text-muted">...</p>
				  <ul class="list-inline social-buttons">
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-twitter"></i>
					  </a>
					</li>
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-facebook-f"></i>
					  </a>
					</li>
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-linkedin-in"></i>
					  </a>
					</li>
				  </ul>
				</div>
			  </div>
			  <div class="col-sm-4">
				<div class="team-member">
				  <img class="mx-auto rounded-circle" src='{% static "img/team/changhoe.jpg" %}' alt="">
				  <h4>이희지</h4>
				  <p class="text-muted">...</p>
				  <ul class="list-inline social-buttons">
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-twitter"></i>
					  </a>
					</li>
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-facebook-f"></i>
					  </a>
					</li>
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-linkedin-in"></i>
					  </a>
					</li>
				  </ul>
				</div>
			  </div>
			  <div class="col-sm-4">
				<div class="team-member">
				  <img class="mx-auto rounded-circle" src='{% static "img/team/changhoe.jpg" %}' alt="">
				  <h4>정창회</h4>
				  <p class="text-muted">...</p>
				  <ul class="list-inline social-buttons">
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-twitter"></i>
					  </a>
					</li>
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-facebook-f"></i>
					  </a>
					</li>
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-linkedin-in"></i>
					  </a>
					</li>
				  </ul>
				</div>
			  </div>
			  <div class="col-sm-4">
				<div class="team-member">
				  <img class="mx-auto rounded-circle" src='{% static "img/team/changhoe.jpg" %}' alt="">
				  <h4>축이림</h4>
				  <p class="text-muted">...</p>
				  <ul class="list-inline social-buttons">
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-twitter"></i>
					  </a>
					</li>
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-facebook-f"></i>
					  </a>
					</li>
					<li class="list-inline-item">
					  <a href="#">
						<i class="fab fa-linkedin-in"></i>
					  </a>
					</li>
				  </ul>
				</div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-lg-8 mx-auto text-center">
				<p class="large text-muted">...</p>
			  </div>
			</div>
		  </div>
		</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
						<div class="text-center">
							<ul class="icons" style="center">
								<li><a href="https://github.com/kookmin-sw/2019-cap1-2019_7" class="fab icon fa-github"><span class="label">Github</span></a></li>
								<li><a href="https://kookmin-sw.github.io/2019-cap1-2019_7" class="fas icon fa-git"><span class="label">Team Page</span></a></li>
								<li><a href="https://www.facebook.com/jeong5055" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							</ul>
						</div>
					<ul class="copyright">
						<li>국민대학교 소프트웨어융합대학 Capstone 7조</li>
						<li>&copy; 전지적 수화 시점. All rights reserved.</li>
					</ul>
				</div>
			</footer>
	</body>
</html>